<div id="like__paginate">
  <div class="list-container">
    <div class="gallery row">
      <% @like_posts.each do |like_post| %>
        <div class="col-md-6 col-lg-4">
          <div class="card my-5" style="max-width: 30rem; height: 45rem;">
            <%= link_to post_path(like_post.id), class: "card-link" do %>
              <%= image_tag like_post.desk_images[0].variant(resize: "478x269!").processed, class: "card-img-top" if like_post.desk_images.attached? %>
              <div class="card-body pb-0">
                <div class="user-info mb-3">
                  <% if like_post.user.avatar.attached? %>
                    <%= image_tag like_post.user.avatar, class: "user-icon" %>
                  <% else %>
                    <img class="user-icon" src="/assets/default_icon.jpeg">
                  <% end %>
                  <div class="post-user-info">
                    <div class="post-user">
                      <%= like_post.user.name %>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <%= like_post.likes.count %>
                      <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
                      <%= like_post.bookmarks.count %>
                      <i class="fa-regular fa-comments" aria-hidden="true"></i>
                      <%= like_post.comments.count %>
                    </div>
                    <div class="post-createtime">
                      <%= like_post.created_at.to_s(:datetime_jp) %>
                    </div>
                  </div>
                </div>
                <div class="post-info">
                  <p>カテゴリー:
                    <% like_post.categories.each_with_index do |category, index| %>
                      <%= category.name %><%= ',' unless index == like_post.categories.size - 1 %>
                    <% end %>
                  </p>
                  <p>デスク名 : <%= like_post.title %></p>
                </div>
              </div>
              <div class="card-body item-info row">
                <% if like_post.post_items.present? %>
                  <p>登録されているアイテム</p>
                  <% like_post.post_items.each_with_index do |like_post_item, index| %>
                    <div class="item-list col-sm-3 col-lg-4 col-xl-3">
                      <div class="card mb-4" style="width: 5rem; height: 5rem;">
                        <%= image_tag post_item.item.image_url, style: "width: 5rem; height: 5rem;" %>
                      </div>
                    </div>
                    <% if index == 3 && like_post.post_items.size > 4  %>
                      <p>他<%= like_post.post_items.size - 4 %>つのアイテムが登録されています</p>
                      <% break %>
                    <% end %>
                  <% end %>
                <% else %>
                  <p>この投稿にはアイテムが登録されていません</p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="paginate-container">
      <%= paginate @like_posts, remote: true %>
    </div>
  </div>
</div>
