<%# Userのマイページ %>
<div class="wrapper">
  <div class="mypage container">
    <% if current_user.avatar.attached? %>
      <%=image_tag current_user.avatar, class: "mypage-avatar" %>
    <% else %>
      <img class="mypage-avatar" src="/assets/default_icon.jpeg">
    <% end %>
    <div class="user-info">
      <%= current_user.name %>
    </div>
    <%= link_to "アカウントの編集", edit_user_registration_path, class:"btn btn-dark my-5"%>
  </div>


<%# ここから 投稿, いいねした投稿、保存した投稿を表示（Tab使用）%>

  <div class="container">
    <ul class="tab-area row">
      <li class="tab active col-md-4 ">
        <i class="fa-regular fa-images" aria-hidden="true"></i>
        Post
      </li>

      <li class="tab col-md-4 ">
        <i class="fa-regular fa-heart" aria-hidden="true"></i>
        Like
      </li>

      <li class="tab col-md-4 ">
        <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
        Bookmark
      </li>
    </ul>

    <div class="panel-area">
      <div class="panel active">
        <%= render 'shared/post-list' %>
      </div>
    </div>

    <div class="panel-area">
      <div class="panel">
        <%= render 'shared/like-list'%>
      </div>
    </div>

    <div class="panel-area">
      <div class="panel">
        <%= render 'shared/bookmark-list'%>
      </div>
    </div>

  </div>

</div>

<script>
  $(function() {
    $('.tab').on('click', function() {
      $('.tab, .panel').removeClass('active');

      $(this).addClass('active');

      var index = $('.tab').index(this);
      $('.panel').eq(index).addClass('active');
    });
  });

</script>
