<% unless user_signed_in? %>
  <div class="nologin-bookmark">
    <i class="fa fa-bookmark" aria-hidden="true"></i>
    <%= post.bookmarks.count %>
    <p>保存</p>
  </div>
<% else %>
  <% if @post.user == current_user %>
    <div class="mypost-bookmark">
      <i class="fa fa-bookmark" aria-hidden="true"></i>
      <%= post.bookmarks.count %>
      <p>保存</p>
    </div>
  <% else %>
    <% if current_user.bookmarks.find_by(post_id: post.id) %>
      <%= link_to post_bookmark_path(post, post.likes), method: :delete, id: "btn-unbookmark-#{post.id}", class: "show-link", remote: true do %>
        <i class="fas fa-bookmark" aria-hidden="true"></i>
        <%= post.bookmarks.count %>
        <p>保存</p>
      <% end %>
    <% else %>
      <%= link_to post_bookmarks_path(post), method: :post, id: "btn-bookmark-#{post.id}", class: "show-link", remote: true do %>
        <i class="far fa-bookmark" aria-hidden="true"></i>
        <%= post.bookmarks.count %>
        <p>保存</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>

