<%= javascript_pack_tag 'comment', defer: true %>
<ul class="accordion-area">
  <section>
    <h3 class="title"><i class="fa-regular fa-comment-dots"></i>コメント</h3>
    <div class="box">
      <div class="comments-list">
        <% if @comments.present? %>
          <% @comments.each do |c| %>
            <li>
              <%# ユーザーの情報 %>
              <div class="user-info">
                <% if c.user.avatar.attached? %>
                  <%= image_tag c.user.avatar, class: "user-icon" %>
                <% else %>
                  <img class="user-icon" src="/assets/default_icon.jpeg">
                <% end %>
                <div class="user-content">
                  <h5><%= c.user.name %>からのコメント</h5>
                  <%= c.user.created_at %>
                </div>
              </div>

              <%# コメント本文 %>
              <div class="comment-content">
                <%= c.body %>
              </div>
              <div class="comment-delete">
                <% if user_signed_in? %>
                  <% if current_user.id == c.user_id %>
                    <%= link_to "削除", post_comment_path(@post, c), method: :delete %>
                  <% elsif current_user.id == @post.user_id then %>
                    <%= link_to "削除", post_comment_path(@post, c), method: :delete %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% else %>
          <p>この投稿にはコメントがまだありません</p>
        <% end %>
      </div>
      <div class="comment-form mt-5">
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment] do |f| %>
            <%= f.text_area :body, class:"text-area", placeholder: "コメント記入欄" %>
            <%= f.submit "コメントする" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>
