<%# もしユーザーがログインしている場合 %>
<% unless user_signed_in? %>
  <div class="nologin-like">
    <i class="fa fa-heart" aria-hidden="true"></i>
    <%= post.likes.count %>
    <p>いいね</p>
  </div>
<% else %>
  <% if @post.user == current_user %>
    <div class="mypost-like">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <%= post.likes.count %>
      <p>いいね</p>
    </div>
  <% else %>
    <% if current_user.likes.find_by(post_id: post.id) %>
      <%= link_to post_likes_path(post.id), method: :delete, id: "btn-unlike-#{post.id}", remote: true do %>
        <i class="fas fa-heart" aria-hidden="true"></i>
        <%= post.likes.count %>
        <p>いいね</p>
      <% end %>
    <% else %>
      <%= link_to post_likes_path(post.id), method: :post, id: "btn-like-#{post.id}", remote: true do %>
        <i class="far fa-heart" aria-hidden="true"></i>
        <%= post.likes.count %>
        <p>いいね</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>


