<h1>保存した投稿</h1>
  <div class="container my-5">
    <div class="row">
      <% @bookmark_posts.each do |bookmark_post| %>
        <div class="col-md-4">
          <div class="card my-5">
            <%= image_tag bookmark_post.desk_images[0] if bookmark_post.desk_images.attached?%>
            <div class="card-body">
                <% if bookmark_post.user.avatar.attached? %>
                  <%= image_tag bookmark_post.user.avatar, class: "host-icon" %>
                <% else %>
                  <img class="host-icon" src="/assets/default_icon.jpeg">
                <% end %>
              <%= link_to bookmark_post.user.name, post_path(bookmark_post.id) %>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <%= bookmark_post.likes.count %>
              <i class="fa-regular fa-comments" aria-hidden="true"></i>
              <%= bookmark_post.comments.count %>
              <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
              <%= bookmark_post.bookmarks.count %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
