
<ul class="accordion-area">
  <li>
  <section>
    <h3 class="title">コメントを見る</h3>
    <div class="box">
      <% @comments.each do |c| %>
        <li>
          <% if c.user.avatar.attached? %>
            <%= image_tag c.user.avatar, class: "host-icon" %>
          <% else %>
            <img class="host-icon" src="/assets/default_icon.jpeg">
          <% end %>
          <%= c.user.name %>

          <%= c.body %>
          <% if user_signed_in? %>
            <% if current_user.id == c.user_id %>
              <%= link_to "編集", edit_post_comment_path(@post, c) %>
              <%= link_to "削除", post_comment_path(@post, c), method: :delete %>
            <% elsif current_user.id == @post.user_id then %>
              <%= link_to "削除", post_comment_path(@post, c), method: :delete %>
            <% end %>
          <% end %>
        </li>
      <% end %>
      
      <% if user_signed_in? %>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :body, placeholder: "コメントする" %>
          <%= f.submit "SEND" %>
        <% end %>
      <% end %>
    </div>
  </section>

  </li>
</div>



<script>
//アコーディオンをクリックした時の動作
$('.title').on('click', function() {//タイトル要素をクリックしたら
  var findElm = $(this).next(".box");//直後のアコーディオンを行うエリアを取得し
  $(findElm).slideToggle();//アコーディオンの上下動作

  if($(this).hasClass('close')){//タイトル要素にクラス名closeがあれば
    $(this).removeClass('close');//クラス名を除去し
  }else{//それ以外は
    $(this).addClass('close');//クラス名closeを付与
  }
});
</script>
