<footer>
  <div class="footer-container">
    <div class="footer-left">
    </div>
    <div class="footer-right">
      <div class="footer-nav">
        <%= link_to "Top", root_path %>
        <%= link_to "Search", root_path %>
        <%= link_to "登録", root_path %>
        <%= link_to "keep", root_path %>
        <%= link_to "Mypage", root_path %>

      </div>
    </div>

  </div>
</footer>
