<footer>
  <div class="footer-container">
    <div class="footer-left">
    </div>
    <div class="footer-right">
      <div class="footer-nav">
        <%= link_to "Top", root_path %>
        <%= link_to "Search", posts_path %>
        <%= link_to "投稿", new_post_path %>
        <%= link_to "keep", root_path %>
        <%= link_to "Mypage", users_profile_path %>
      </div>
    </div>
  </div>
</footer>
