<div class="wrapper">
  <p class="notice"><%= notice %></p>
  <div class="form-container">
    <%= form_with model: @post, local:true do |f|%>
      <%= render "posts/error_messages"%>
      <div class="form-content">
        <%= f.label :description, "紹介"%>
        <%= f.text_area :description, class:"text-area", placeholder: "デスク紹介" %>
      </div>

      <div class="form-content">
        <%= f.label :desk_images, 'デスク画像' %>
        <div class="image-area">
          <% if @post.desk_images.attached? %>
            <%# 編集用のコード %>
            <div class="row">
              <% @post.desk_images.each do |desk_image| %>
                <div class="col-md-4 mb-2">
                  <%= image_tag desk_image.variant(resize: "300x150!").processed %>
                </div>
              <% end %>
            </div>
            <%= f.file_field :desk_images, multiple: true if @post.desk_images.blank? %>
            <%# 新規投稿時 %>
          <% else %>
            <div class="preview-contents">
            <%# もしimg idがあったらnophotoを消す %>

              <div class="preview-first">
                <%= image_tag "nophoto.jpg", width: "25%" %>
              </div>
              <div class="preview-area">
                <div class="preview-item"><img id="preview_0"></div>
                <div class="preview-item"><img id="preview_1"></div>
                <div class="preview-item"><img id="preview_2"></div>
                <div class="preview-item"><img id="preview_3"></div>
                <div class="preview-item"><img id="preview_4"></div>
              </div>
            </div>
          <% end %>
          <%= f.file_field :desk_images, multiple: true %>
        </div>
      </div>
      <div class="form-content">
        <%= f.label :category_id, "カテゴリー"%>
        <div class="check_boxes row mt-3">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, class: 'checkbox-inline', include_hidden: false do |b| %>
            <%= b.label class:"check col-md-4" do %>
              <%= b.check_box + " #{b.text}" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="form-content field">
        <%= f.submit "投稿する", disable_with: '投稿中...', class:"submit-btn"%>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'img-form' %>
