<header>
  <div class="header-left">
    <div class="left-container">
      <div class="top-icon">
        <%= link_to "Desk&Device-sharing", root_path%>
      </div>
    </div>
  </div>

  <div class="header-right">
    <div class="right-container">
      <div class="nav">
        <% if user_signed_in? %>
          <% if current_user.avatar.attached? %>
            <%=image_tag current_user.avatar, class: "host-icon nav-trigger" %>
          <% else %>
            <img class="host-icon nav-trigger" src="/assets/default_icon.jpeg">
          <% end %>
          <div class="nav-list">
            <ul class="nav-menu">
              <li><%= link_to "マイページ", users_profile_path, class:"btn btn-yellow btn-cubic" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path,class:"btn btn-yellow btn-cubic", method: :delete, data: { confirm: "ログアウトします。よろしいですか?" } %></li>
            </ul>
          </div>
        <% else %>
          <div class="nav-form">
            <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class:"btn btn-yellow btn-cubic", method: :post %>
            <%= link_to "ログイン", new_user_session_path, class:"btn btn-yellow btn-cubic" %>
            <%= link_to "新規登録", new_user_registration_path, class:"btn btn-yellow btn-cubic" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

<script>
  $(function() {
    $('.nav-trigger').click(function() {
      $('.nav-menu').slideToggle(500);
    })
  });
</script>
