<header>
  <div class="header-left">
    <div class="left-container">
      <div class="top-icon">
        <%= link_to "Desk&Device-sharing", root_path%>
      </div>
    </div>
  </div>

  <div class="header-right">
    <div class="right-container">
      <div class="nav">
        <% if user_signed_in? %>
          <% if current_user.avatar.attached? %>
            <%=image_tag current_user.avatar, class: "host-icon" %>
          <% else %>
            <img class="host-icon" src="/assets/default_icon.jpeg">
          <% end %>
          <div class="header-item">
            <button type="button" class="menu-btn">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="menu d-grid gap-2 col-6 mx-auto">
              <div class="menu-item btn btn-success "><%= link_to "Top", root_path, class: "link-light text-decoration-none" %></div>
              <div class="menu-item btn btn-success"><%= link_to "投稿する", new_post_path, class: "link-light text-decoration-none" %></div>
              <div class="menu-item btn btn-success"><%= link_to "投稿一覧", posts_path , class: "link-light text-decoration-none" %></div>
              <div class="menu-item btn btn-success"><%= link_to "Mypage", users_profile_path, class: "link-light text-decoration-none" %></div>
              <div class="menu-item btn btn-success"><%= link_to "Logout", destroy_user_session_path, class: "link-light text-decoration-none", method: :delete, data: { confirm: "ログアウトします。よろしいですか?" } %></div>
            </div>
          </div>
        <% else %>
          <div class="nav-form">
            <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class:"btn btn-success", method: :post %>
            <%= link_to "ログイン", new_user_session_path, class:"btn btn-success" %>
            <%= link_to "新規登録", new_user_registration_path, class:"btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

<script>
  $(function(){
    $('.menu-btn').on('click', function(){
      $('.menu').toggleClass('is-active');
    });
  }());
</script>
