<h3>このユーザーの投稿</h3>
<div class="list-container">
  <div class="mypage-post row">
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do %>

        <div class="post-info row my-3">

            <div class="col-md-4">
              <% if @user.avatar.attached? %>
                <%= image_tag post.user.avatar, class: "host-icon" %>
              <% else %>
                <img class="host-icon" src="/assets/default_icon.jpeg">
              <% end %>
            </div>
            <div class="col-md-4 offset-md-3">
              <%= post.user.name %>
              <%= post.created_at.to_s(:datetime_jp) %>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <%= post.likes.count %>
              <i class="fa-regular fa-comments" aria-hidden="true"></i>
              <%= post.comments.count %>
              <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
              <%= post.bookmarks.count %>
            </div>

        </div>

        <div class="mypage-post row">
          <div class="gallery-img col-md-6 col-sm-12 col-12">
            <%= image_tag post.desk_images[0] if post.desk_images.attached? %>
          </div>
          <div class="card-body col-md-6 col-sm-4 col-12">
            <div class="post-item-info p-1 row justify-content-start">
                <% if post.post_items.present? %>
                  <% post.post_items.each do |post_item| %>
                  <div class="item-list p-2 col-md-3 col-sm-4 col-6">
                    <div class="card" style="width: 8rem; height: 8rem;">
                      <%= image_tag(post_item.item.image_url) %>
                    </div>
                  </div>
                  <% end %>
                <% else %>
                  <p>この投稿にはアイテムが登録されていません</p>
                <% end %>
            </div>
          </div>
        </div>
        <p class="card-text"><%= post.description%></p>
      <% end %>
    <% end %>
  </div>
</div>


