<h1>このユーザーの投稿</h1>
<div class="row">
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id) do %>

      <div class="mypage-post row my-3">
        <div class="gallery-item col-md-4">
          <%= image_tag post.desk_images[0] if post.desk_images.attached? %>
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <div class="post-info">
              <% if @user.avatar.attached? %>
                <%= image_tag post.user.avatar, class: "host-icon" %>
              <% else %>
                <img class="mypage-avatar" src="/assets/default_icon.jpeg">
              <% end %>
              <%= post.user.name %>
            </div>
            <p class="card-text"><%= post.description%></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


