<div class="wrapper">
  <div class="show">
    <div class="show-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @post.desk_images.count.times do |i| %>
            <div class="swiper-slide">
              <%= image_tag @post.desk_images[i], class: "desk-show-image" %>
            </div>
          <% end %>
        </div>
        <!-- 必要に応じてページネーション -->
        <div class="swiper-pagination"></div>

        <!-- 必要に応じてナビボタン -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 必要に応じてスクロールバー -->
        <div class="swiper-scrollbar"></div>
      </div>
        <% @post.categories.each do |category| %>
            <%= category.name %>
        <% end %>

        <%#　いいね機能  %>
        <div id="like_<%= @post.id %>">
          <%= render 'likes/like', post: @post %>
        </div>

        <p><%= @post.description%></p>
        <div>
          <td><%= link_to "編集", edit_post_path, class:"btn btn-yellow btn-cubic" %></td>
          <td><%= link_to "削除", @post, method: :delete, data: {confirm: "投稿を削除します"}, class:"btn btn-yellow btn-cubic"%></td>
        </div>
    </div>
  </div>
</div>

<script>
  const swiper = new Swiper(".swiper", {
    // ページネーションが必要なら追加
    pagination: {
      el: ".swiper-pagination"
    },
    // ナビボタンが必要なら追加
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });
</script>
