<div class="container">
  <div class="show">
    <h1>詳細画面</h1>
    <div class="show-container">
      <%=image_tag @post.desk_image, class: "desk-show-image"%>
      <h3><%= @post.desk_name%></h3>
      <p><%= @post.description%></p>
    <div>
      <td><%= link_to "編集", edit_post_path, class:"btn btn-yellow btn-cubic" %></td>
      <td><%= link_to "削除", @post, method: :delete, data: {confirm: "ルーム#{@post.desk_name}を削除します"}, class:"btn btn-yellow btn-cubic"%></td>
    </div>
    </div>

  </div>
</div>
