<div class="wrapper">
  <div class="show">
    <%= flash[:notice] %>
    <%= flash[:danger] %>
    <div class="show-container">
    <%# 投稿したユーザー情報 %>
      <div class="post-user row">
        <div class="user-card">
          <% if @post.user.avatar.attached? %>
            <%= image_tag @post.user.avatar, class: "host-icon" %>
          <% else %>
            <img class="host-icon" src="/assets/default_icon.jpeg">
          <% end %>
          <%= @post.user.name %>
        </div>
      </div>
    <%# 投稿した画像表示 %>
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @post.desk_images.count.times do |i| %>
            <div class="swiper-slide">
              <%= image_tag @post.desk_images[i].variant( resize: "690x390!").processed, class: "desk-show-image" %>
            </div>
          <% end %>
        </div>
        <!-- ナビボタン -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <%# 登録したカテゴリー表示 %>
      <div class="category-container my-3">
        <% @post.categories.each do |category| %>
          <%= link_to "##{category.name}", categories_path(category_id: category.id)%>

        <% end %>
      </div>

      <%# アイテム機能 %>
      <div class="item-show my-3">
        <div class="item">
          <p>登録されたアイテム</p>
          <%= render 'items/item_list', post: @post %>
        </div>
      </div>
      <% if @post.user == current_user %>
        <% if @item_count < 12 %>
          <i class="fa-solid fa-plus mb-3">
            <%= link_to post_search_items_path(@post) do %>
              アイテムを追加する
            <% end %>
          </i>
        <% end %>
      <% end %>
      <div class="description-container">
        <p>投稿の紹介</p>
        <p><%= @post.description%></p>
      </div>

      <div class="row">
        <%# いいね機能  %>
        <div class="like-wrapper col-md-1">
          <div id="like_<%= @post.id %>">
            <%= render 'likes/like', post: @post %>
          </div>
        </div>

        <%# ブックマーク機能 %>
        <div class="bookmark-wrapper col-md-1">
          <div id="bookmark_<%= @post.id %>">
            <%= render 'bookmarks/bookmark', post: @post %>
          </div>
        </div>

      </div>

      <%# コメント欄 %>
      <%= render 'comments/comments-list'%>

      <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post) %>
        <%= link_to "削除", post_path(@post), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'swipper' %>
