<div class="wrapper">
  <div class="show">
    <div class="show-container">
    <%# 投稿したユーザー情報 %>
      <div class="post-user row">
      <%# ユーザー名とavatar画像からそのユーザーのMYpageに移行できるようにする %>
        <%# <%= link_to users_profile_path(@post.user) do %>
          <div class="user-card">
            <% if @post.user.avatar.attached? %>
              <%= image_tag @post.user.avatar, class: "host-icon" %>
            <% else %>
              <img class="host-icon" src="/assets/default_icon.jpeg">
            <% end %>
            <%= @post.user.name %>
          </div>
        <%# <% end %>

      </div>
    <%# 投稿した画像表示 %>
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @post.desk_images.count.times do |i| %>
            <div class="swiper-slide">
              <%= image_tag @post.desk_images[i], class: "desk-show-image" %>
            </div>
          <% end %>
        </div>
        <!-- 必要に応じてページネーション -->
        <div class="swiper-pagination"></div>

        <!-- 必要に応じてナビボタン -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 必要に応じてスクロールバー -->
        <div class="swiper-scrollbar"></div>
      </div>

      <%# 登録したカテゴリー表示 %>
      <% @post.categories.each do |category| %>
        <%= category.name %>
      <% end %>

      <%# ここからアイテム表示機能 %>
      <%# もしアイテムが登録されてうないなら、アイテムを追加するが表示される %>
      <div class="item-show">
        <i class="fa-solid fa-plus"><%= link_to search_items_post_items_path(@post) do %>
          アイテムを追加する
        <% end %></i>

        <div class="item">
          <%= render 'items/item_list', post: @post %>
        </div>

      </div>


      <h4><%= @post.description%></h4>
        <%# いいね機能  %>
        <div class="like-wrapper">
          <div id="like_<%= @post.id %>">
            <%= render 'likes/like', post: @post %>
          </div>
        </div>

        <%# ブックマーク機能 %>
        <div class="bookmark-wrapper">
          <div id="bookmark_<%= @post.id %>">
            <%= render 'bookmarks/bookmark', post: @post %>
          </div>
        </div>

      <%# コメント欄 %>
      <%= render 'shared/comments-list'%>

      <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post) %>
        <%= link_to "削除", post_path(@post), method: :delete %>
      <% end %>
    </div>
  </div>
</div>

<script>
  const swiper = new Swiper(".swiper", {
    // ページネーションが必要なら追加
    pagination: {
      el: ".swiper-pagination"
    },
    // ナビボタンが必要なら追加
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });
</script>
