<%# ã®view%>
<div class="wrapper">
  <div class="container my-5">
    <h2>#<%= @category.name %></h2>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-4">
          <div class="card my-5">
            <%= image_tag post.desk_images[0] if post.desk_images.attached?%>
            <div class="card-body">
                <% if post.user.avatar.attached? %>
                  <%= image_tag post.user.avatar, class: "host-icon" %>
                <% else %>
                  <img class="host-icon" src="/assets/default_icon.jpeg">
                <% end %>
              <%= link_to post.user.name, post_path(post.id) %>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <%= post.likes.count %>
              <i class="fa-regular fa-comments" aria-hidden="true"></i>
              <%= post.comments.count %>
              <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
              <%= post.bookmarks.count %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
